version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: e_language
      POSTGRES_USER: asdf
      POSTGRES_PASSWORD: asdgf
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build: .
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/e_language
      SPRING_DATASOURCE_USERNAME: asdf
      SPRING_DATASOURCE_PASSWORD: asdgf
    ports:
      - "8080:8080"
    restart: always

volumes:
  db_data: